<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Displacement.Properties.Settings.ConnectionString"
            connectionString="Data Source=DESKTOP-M7TADSR;Initial Catalog=HuaDe;Persist Security Info=True;User ID=sa;Password=rhck001"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>